@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&family=Roboto:wght@300;400;700&display=swap');

@font-face {
  font-family: 'Android';
  src: url('/fontes/idroid.otf') format('opentype');
  font-weight: normal;
}

:root{
  --cor0:#c5ebd6;
  --cor1:#83e1ad;
  --cor2:#3ddc84;
  --cor3:#2fa866;
  --cor4:#1a5c37;
  --cor5:#063d1e;

  --fonte-padrao: Arial, Helvetica, sans-serif;
  --fonte-destaque: 'Montserrat', sans-serif;
  --fonte-android:'Android', sans-serif;

}

*{
  margin:0;
  padding: 0;
}



body{
  background-color: var(--cor0);
  font-family: var(--fonte-padrao);
}




header{
  background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
  height: 150px;
  text-align: center;
  padding: 40px;
}

header > h1 {
  color: white;
  font-family: var(--fonte-destaque);
  font-size: 3em;
  margin-bottom: 20px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.313);
}

header > p {
  color: white;
  font-family: var(--fonte-padrao);
  font-size: 1.2em;
  margin: auto;
  max-width: 500px;
  padding-left: 10px;
  padding-right: 10px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.313);
  padding-bottom: 50px;

}

nav {
  background-color: var(--cor5);
  padding: 10px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.244);
}

nav > a {
  color: var(--cor0);
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  transition: .3s;
}

nav > a:hover {
  background-color: var(--cor3);
  color: var(--cor5);
}

main{
  background-color: white;
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.541);
  margin-bottom: 30px;
  border-radius: 0px 0px 10px 10px;
}

div.video{
  background-color: var(--cor5);
  margin: 0px -20px 30px -20px;
  padding: 20px;

  padding-bottom: 59%;
  position: relative;
}

div.video > iframe {
position: absolute;
top: 5%;
left: 5%;
width: 90%;
height: 90%;
}

main h1 {
  color: var(--cor5);
  font-family: var(--fonte-android);
}

main h2 {
  font-family: var(--fonte-android);
  color: var(--cor4);
  font-size: 1.3em;
  background-image: linear-gradient(to right, var(--cor0), transparent);
  padding: 5px;
  border-radius: 10px 0px;
}

main p {
  margin: 15px 0px ;
  text-align: justify;
  text-indent: 30px;
  line-height: 2em;
}

main strong {
  color: var(--cor4);
  font-weight: bold;
 
}

main a {
  background-color: var(--cor1);
  padding: 2px 6px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

main a:hover {
  text-decoration: underline;
  color: black;
}

main img {
  width: 100%;
}

main img.pequena{
  max-width: 350px;
  display: block;
  margin: auto;
}

aside {
  background-color: var(--cor1);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.185);

}

aside > h3{
  background-color: var(--cor4);
  color: white;
  padding: 5px;
  margin: -10px -10px 0px -10px;
  border-radius: 10px 10px 0px 0px;
}
aside > ul {
  list-style-type: '\2714\00a0\00a0';
  list-style-position: inside;
  columns: 2;
}
footer{
  background-color: var(--cor5);
  color: white;
  text-align: center;
  font-size: 0.8em;
  padding: 10px;

}

footer a {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

footer a:hover{
  background-color: #2fa866;
  border-radius: 5px;
}
